/* *
 * This is a store module for PyroCMS
 *
 * @author 		pyrocms-store Team - Jaap Jolman - Kevin Meier - Rudolph Arthur Hernandez - Gary Hussey
 * @website		http://www.odin-ict.nl/
 * @package 	pyrocms-store
 * @subpackage 	Store Module
* */

table td , table th { text-align: center; }
img.products { border-radius: 0.4em; }
img.image_thumbs { border-radius: 0.4em; margin-right: 20px; }
.no_image { line-height: 30px; margin-bottom: 15px; }

ol li { margin: 20px 0px 20px 40px; }
label { width: 150px; margin-bottom: 15px; }



.required-icon { margin-left: 10px; } 

#cboxLoadedContent {   }

/* section title and item */
#cboxLoadedContent section.title {  width: 768px; margin-top: 0px; border: 1px solid lightgrey;
margin: 5px 0px 0px 3px;  }
#cboxLoadedContent section.item { width: 766px; border-radius: 0em; border: 1px solid lightgrey;
border-bottom-left-radius: 0.5em; border-bottom-right-radius: 0.5em; margin: 5px 0px 10px 3px; 
clear: both; }

#cboxLoadedContent ul, #cboxLoadedContent ol { padding-left: 25px; }
#cboxLoadedContent section textarea { width: 90%; display: block;  }
#cboxLoadedContent .buttons { margin: 30px 0px 20px 30px; }
.buttons { margin: 30px 0px 20px 35px; }

/* the ckeditor wrapper */
#cke_html { width: 91.0%; max-width: 91.0%; }


.table_action_buttons { margin-left: 30px; }


/* *************  STORE INDEX ************* */

/* Vertical tabs */

#vtab {
    margin: auto;
    width: 100%;
    height: 100%;
}
#vtab > ul > li {
    width: 110px;
    height: 110px;
    background-color: #fff !important;
    list-style-type: none;
    display: block;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    border: 1px solid #fff;
    position: relative;
    border-right: none;
    opacity: .3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
}

#vtab > ul > li.selected {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    border: 1px solid #ddd;
    border-right: none;
    z-index: 10;
    background-color: #fafafa !important;
    position: relative;
    -moz-border-top-left-radius: 0.5em;
    -moz-border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}
#vtab > ul {
    float: left;
    width: 110px;
    text-align: left;
    display: block;
    margin: auto 0;
    padding: 0;
    position: relative;
}
#vtab > div {
    background-color: #fafafa;
    margin-left: 110px;
    border: 1px solid #ddd;
    min-height: 500px;
    padding: 12px;
    padding-bottom: 20px; 
    position: relative;
    z-index: 9;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}
#vtab > div > h4 {
    border-bottom: 1px solid lightgrey;
    padding-top: 5px;
    margin: 0px 10px 15px 10px;
}

#vtab > ul > li.general {
background: url('./images/home.png') no-repeat center center;
}

#vtab > ul > li.payment {
background: url('./images/login.png') no-repeat center center;
}
#vtab > ul > li.extra {
background: url('./images/support.png') no-repeat center center;
}

#vtab fieldset li { margin: 40px 0px 40px 0px; }
#vtab fieldset li label { width: 250px; display: inline-block; margin-bottom: 0px; }


#vtab fieldset { padding: 0px 40px 20px 40px; margin-bottom: 0px; border-radius: 0.5em;
border-color: lightgray; }
#vtab span { margin-right: 10px;  }
#vtab hr { margin: 15px 0px 35px 0px; border: 1px solid lightgray; }

#vtab input[type="text"] { margin: 0px; }
#vtab input[type="radio"] { margin-left: 20px; }

/* ******************************************** */

