@charset "utf-8";
/* CSS Document */

.icon_arrow-circle-double { padding: 1px 0 1px 25px; background: url(../img/icons/arrow-circle-double.png) no-repeat 0px 50%;}
.icon_arrow { padding: 1px 0 1px 25px; background: url(../img/icons/arrow.png) no-repeat 0px 50%;}
.icon_plus-button { padding: 1px 0 1px 25px; background: url(../img/icons/plus-button.png) no-repeat 0px 50%;}
.icon_plus-circle-frame { padding: 1px 0 1px 25px; background: url(../img/icons/plus-circle-frame.png) no-repeat 0px 50%;}
.icon_plus-circle { padding: 1px 0 1px 25px; background: url(../img/icons/plus-circle.png) no-repeat 0px 50%;}
.icon_plus-octagon-frame { padding: 1px 0 1px 25px; background: url(../img/icons/plus-octagon-frame.png) no-repeat 0px 50%;}
.icon_plus-octagon { padding: 1px 0 1px 25px; background: url(../img/icons/plus-octagon.png) no-repeat 0px 50%;}
.icon_plus-shield { padding: 1px 0 1px 25px; background: url(../img/icons/plus-shield.png) no-repeat 0px 50%;}
.icon_plus-small-circle { padding: 1px 0 1px 25px; background: url(../img/icons/plus-small-circle.png) no-repeat 0px 50%;}
.icon_plus-small { padding: 1px 0 1px 25px; background: url(../img/icons/plus-small.png) no-repeat 0px 50%;}
.icon_plus { padding: 1px 0 1px 25px; background: url(../img/icons/plus.png) no-repeat 0px 50%;}
.icon_point--arrow { padding: 1px 0 1px 25px; background: url(../img/icons/point--arrow.png) no-repeat 0px 50%;}
.icon_point--exclamation { padding: 1px 0 1px 25px; background: url(../img/icons/point--exclamation.png) no-repeat 0px 50%;}
.icon_point--minus { padding: 1px 0 1px 25px; background: url(../img/icons/point--minus.png) no-repeat 0px 50%;}
.icon_point--pencil { padding: 1px 0 1px 25px; background: url(../img/icons/point--pencil.png) no-repeat 0px 50%;}
.icon_point--plus { padding: 1px 0 1px 25px; background: url(../img/icons/point--plus.png) no-repeat 0px 50%;}
.icon_point-bronze { padding: 1px 0 1px 25px; background: url(../img/icons/point-bronze.png) no-repeat 0px 50%;}
.icon_point-silver { padding: 1px 0 1px 25px; background: url(../img/icons/point-silver.png) no-repeat 0px 50%;}
.icon_point-small { padding: 1px 0 1px 25px; background: url(../img/icons/point-small.png) no-repeat 0px 50%;}
.icon_point { padding: 1px 0 1px 25px; background: url(../img/icons/point.png) no-repeat 0px 50%;}
.icon_points { padding: 1px 0 1px 25px; background: url(../img/icons/points.png) no-repeat 0px 50%;}
.icon_present--arrow { padding: 1px 0 1px 25px; background: url(../img/icons/present--arrow.png) no-repeat 0px 50%;}
.icon_present--exclamation { padding: 1px 0 1px 25px; background: url(../img/icons/present--exclamation.png) no-repeat 0px 50%;}
.icon_present--minus { padding: 1px 0 1px 25px; background: url(../img/icons/present--minus.png) no-repeat 0px 50%;}
.icon_present--pencil { padding: 1px 0 1px 25px; background: url(../img/icons/present--pencil.png) no-repeat 0px 50%;}
.icon_present--plus { padding: 1px 0 1px 25px; background: url(../img/icons/present--plus.png) no-repeat 0px 50%;}
.icon_present-label { padding: 1px 0 1px 25px; background: url(../img/icons/present-label.png) no-repeat 0px 50%;}
.icon_present { padding: 1px 0 1px 25px; background: url(../img/icons/present.png) no-repeat 0px 50%;}
.icon_price-tag--arrow { padding: 1px 0 1px 25px; background: url(../img/icons/price-tag--arrow.png) no-repeat 0px 50%;}
.icon_price-tag--exclamation { padding: 1px 0 1px 25px; background: url(../img/icons/price-tag--exclamation.png) no-repeat 0px 50%;}
.icon_price-tag--minus { padding: 1px 0 1px 25px; background: url(../img/icons/price-tag--minus.png) no-repeat 0px 50%;}
.icon_price-tag--pencil { padding: 1px 0 1px 25px; background: url(../img/icons/price-tag--pencil.png) no-repeat 0px 50%;}
.icon_price-tag--plus { padding: 1px 0 1px 25px; background: url(../img/icons/price-tag--plus.png) no-repeat 0px 50%;}
.icon_price-tag-label { padding: 1px 0 1px 25px; background: url(../img/icons/price-tag-label.png) no-repeat 0px 50%;}
.icon_price-tag { padding: 1px 0 1px 25px; background: url(../img/icons/price-tag.png) no-repeat 0px 50%;}
.icon_shopping-basket--arrow { padding: 1px 0 1px 25px; background: url(../img/icons/shopping-basket--arrow.png) no-repeat 0px 50%;}
.icon_shopping-basket--exclamation { padding: 1px 0 1px 25px; background: url(../img/icons/shopping-basket--exclamation.png) no-repeat 0px 50%;}
.icon_shopping-basket--minus { padding: 1px 0 1px 25px; background: url(../img/icons/shopping-basket--minus.png) no-repeat 0px 50%;}
.icon_shopping-basket--pencil { padding: 1px 0 1px 25px; background: url(../img/icons/shopping-basket--pencil.png) no-repeat 0px 50%;}
.icon_shopping-basket--plus { padding: 1px 0 1px 25px; background: url(../img/icons/shopping-basket--plus.png) no-repeat 0px 50%;}
.icon_shopping-basket { padding: 1px 0 1px 25px; background: url(../img/icons/shopping-basket.png) no-repeat 0px 50%;}
.icon_store--arrow { padding: 1px 0 1px 25px; background: url(../img/icons/store--arrow.png) no-repeat 0px 50%;}
.icon_store--exclamation { padding: 1px 0 1px 25px; background: url(../img/icons/store--exclamation.png) no-repeat 0px 50%;}
.icon_store--minus { padding: 1px 0 1px 25px; background: url(../img/icons/store--minus.png) no-repeat 0px 50%;}
.icon_store--pencil { padding: 1px 0 1px 25px; background: url(../img/icons/store--pencil.png) no-repeat 0px 50%;}
.icon_store--plus { padding: 1px 0 1px 25px; background: url(../img/icons/store--plus.png) no-repeat 0px 50%;}
.icon_store-label { padding: 1px 0 1px 25px; background: url(../img/icons/store-label.png) no-repeat 0px 50%;}
.icon_store-medium { padding: 1px 0 1px 25px; background: url(../img/icons/store-medium.png) no-repeat 0px 50%;}
.icon_store-network { padding: 1px 0 1px 25px; background: url(../img/icons/store-network.png) no-repeat 0px 50%;}
.icon_store-open { padding: 1px 0 1px 25px; background: url(../img/icons/store-open.png) no-repeat 0px 50%;}
.icon_store-share { padding: 1px 0 1px 25px; background: url(../img/icons/store-share.png) no-repeat 0px 50%;}
.icon_store-small { padding: 1px 0 1px 25px; background: url(../img/icons/store-small.png) no-repeat 0px 50%;}
.icon_store { padding: 1px 0 1px 25px; background: url(../img/icons/store.png) no-repeat 0px 50%;}
.icon_tag--arrow { padding: 1px 0 1px 25px; background: url(../img/icons/tag--arrow.png) no-repeat 0px 50%;}
.icon_tag--exclamation { padding: 1px 0 1px 25px; background: url(../img/icons/tag--exclamation.png) no-repeat 0px 50%;}
.icon_tag--minus { padding: 1px 0 1px 25px; background: url(../img/icons/tag--minus.png) no-repeat 0px 50%;}
.icon_tag--pencil { padding: 1px 0 1px 25px; background: url(../img/icons/tag--pencil.png) no-repeat 0px 50%;}
.icon_tag--plus { padding: 1px 0 1px 25px; background: url(../img/icons/tag--plus.png) no-repeat 0px 50%;}
.icon_tag-export { padding: 1px 0 1px 25px; background: url(../img/icons/tag-export.png) no-repeat 0px 50%;}
.icon_tag-import { padding: 1px 0 1px 25px; background: url(../img/icons/tag-import.png) no-repeat 0px 50%;}
.icon_tag-label-black { padding: 1px 0 1px 25px; background: url(../img/icons/tag-label-black.png) no-repeat 0px 50%;}
.icon_tag-label-gray { padding: 1px 0 1px 25px; background: url(../img/icons/tag-label-gray.png) no-repeat 0px 50%;}
.icon_tag-label-green { padding: 1px 0 1px 25px; background: url(../img/icons/tag-label-green.png) no-repeat 0px 50%;}
.icon_tag-label-pink { padding: 1px 0 1px 25px; background: url(../img/icons/tag-label-pink.png) no-repeat 0px 50%;}
.icon_tag-label-purple { padding: 1px 0 1px 25px; background: url(../img/icons/tag-label-purple.png) no-repeat 0px 50%;}
.icon_tag-label-red { padding: 1px 0 1px 25px; background: url(../img/icons/tag-label-red.png) no-repeat 0px 50%;}
.icon_tag-label-yellow { padding: 1px 0 1px 25px; background: url(../img/icons/tag-label-yellow.png) no-repeat 0px 50%;}
.icon_tag-label { padding: 1px 0 1px 25px; background: url(../img/icons/tag-label.png) no-repeat 0px 50%;}
.icon_tag-medium { padding: 1px 0 1px 25px; background: url(../img/icons/tag-medium.png) no-repeat 0px 50%;}
.icon_tag-small { padding: 1px 0 1px 25px; background: url(../img/icons/tag-small.png) no-repeat 0px 50%;}
.icon_tag { padding: 1px 0 1px 25px; background: url(../img/icons/tag.png) no-repeat 0px 50%;}
.icon_tags-label { padding: 1px 0 1px 25px; background: url(../img/icons/tags-label.png) no-repeat 0px 50%;}
.icon_tags { padding: 1px 0 1px 25px; background: url(../img/icons/tags.png) no-repeat 0px 50%;}
.icon_thumb-up { padding: 1px 0 1px 25px; background: url(../img/icons/thumb-up.png) no-repeat 0px 50%;}
.icon_tick-button { padding: 1px 0 1px 25px; background: url(../img/icons/tick-button.png) no-repeat 0px 50%;}
.icon_tick-circle-frame { padding: 1px 0 1px 25px; background: url(../img/icons/tick-circle-frame.png) no-repeat 0px 50%;}
.icon_tick-circle { padding: 1px 0 1px 25px; background: url(../img/icons/tick-circle.png) no-repeat 0px 50%;}
.icon_tick-octagon-frame { padding: 1px 0 1px 25px; background: url(../img/icons/tick-octagon-frame.png) no-repeat 0px 50%;}
.icon_tick-octagon { padding: 1px 0 1px 25px; background: url(../img/icons/tick-octagon.png) no-repeat 0px 50%;}
.icon_tick-red { padding: 1px 0 1px 25px; background: url(../img/icons/tick-red.png) no-repeat 0px 50%;}
.icon_tick { padding: 1px 0 1px 25px; background: url(../img/icons/tick.png) no-repeat 0px 50%;}
.icon_ticket--arrow { padding: 1px 0 1px 25px; background: url(../img/icons/ticket--arrow.png) no-repeat 0px 50%;}
.icon_ticket--exclamation { padding: 1px 0 1px 25px; background: url(../img/icons/ticket--exclamation.png) no-repeat 0px 50%;}
.icon_ticket--minus { padding: 1px 0 1px 25px; background: url(../img/icons/ticket--minus.png) no-repeat 0px 50%;}
.icon_ticket--pencil { padding: 1px 0 1px 25px; background: url(../img/icons/ticket--pencil.png) no-repeat 0px 50%;}
.icon_ticket--plus { padding: 1px 0 1px 25px; background: url(../img/icons/ticket--plus.png) no-repeat 0px 50%;}
.icon_ticket-small { padding: 1px 0 1px 25px; background: url(../img/icons/ticket-small.png) no-repeat 0px 50%;}
.icon_ticket-stub { padding: 1px 0 1px 25px; background: url(../img/icons/ticket-stub.png) no-repeat 0px 50%;}
.icon_ticket { padding: 1px 0 1px 25px; background: url(../img/icons/ticket.png) no-repeat 0px 50%;}
.icon_toggle-expand { padding: 1px 0 1px 25px; background: url(../img/icons/toggle-expand.png) no-repeat 0px 50%;}
.icon_toggle-small-expand { padding: 1px 0 1px 25px; background: url(../img/icons/toggle-small-expand.png) no-repeat 0px 50%;}
.icon_toggle-small { padding: 1px 0 1px 25px; background: url(../img/icons/toggle-small.png) no-repeat 0px 50%;}
.icon_toggle { padding: 1px 0 1px 25px; background: url(../img/icons/toggle.png) no-repeat 0px 50%;}
.icon_truck--arrow { padding: 1px 0 1px 25px; background: url(../img/icons/truck--arrow.png) no-repeat 0px 50%;}
.icon_truck--exclamation { padding: 1px 0 1px 25px; background: url(../img/icons/truck--exclamation.png) no-repeat 0px 50%;}
.icon_truck--minus { padding: 1px 0 1px 25px; background: url(../img/icons/truck--minus.png) no-repeat 0px 50%;}
.icon_truck--pencil { padding: 1px 0 1px 25px; background: url(../img/icons/truck--pencil.png) no-repeat 0px 50%;}
.icon_truck--plus { padding: 1px 0 1px 25px; background: url(../img/icons/truck--plus.png) no-repeat 0px 50%;}
.icon_truck-empty { padding: 1px 0 1px 25px; background: url(../img/icons/truck-empty.png) no-repeat 0px 50%;}
.icon_truck { padding: 1px 0 1px 25px; background: url(../img/icons/truck.png) no-repeat 0px 50%;}