/* *
 * This is a store module for PyroCMS
 *
 * @author 		pyrocms-store Team - Jaap Jolman - Kevin Meier - Rudolph Arthur Hernandez - Gary Hussey
 * @website		http://www.odin-ict.nl/
 * @package 	pyrocms-store
 * @subpackage 	Store Module
* */


#categories { text-align: center; }
#categories h4, #category h4 { padding: 0px 35px 0px 35px; text-align: center; font-size: 16px; 
margin: 5px 0px 0px 0px;  }
#categories li a, #category li a { font-size: 16px; text-decoration: none; }
#categories li, #category li { text-align: center; margin: 10px 5px 10px 5px; display: inline-block; 
padding: 5px 0px 10px 0px; 
border: 1px solid lightgrey; border-radius: 0.5em; vertical-align: middle; opacity: 0.80;}
#categories li:hover, #category li:hover { opacity: 1; filter: alpha(opacity=100); }
#categories ul, #category ul { padding: 0px; text-align: center; }


#categories img, #category img { border-radius: 0.5em; border: none;
filter: alpha(opacity=80); margin: 10px 15px 10px 15px;
#-moz-box-shadow: 5px 5px 2px #ccc;  
#-webkit-box-shadow: 5px 5px 2px #888; 
#box-shadow: 5px 5px 2px #ccc;}

#categories h5, #category h5 { float: right; margin: 0px 20px 0px 0px; font-size: 15px;
padding: 0px; }


/* product view */
#product li { list-style: none; }
#product li h2 { padding: 0px; }

#product form div { padding: 5px; clear: both; }
#product form span { float: left; margin-top: 5px; margin-right: 10px; }
#product form input[type="text"] { text-align: right; 
margin: 0px 10px 0px 10px;
vertical-align: middle;
width: 40px;
}
#product form input[type="submit"] {
margin: 2px 0px 0px 0px;
}

#product form p { padding: 5px 10px 15px 0px;
float: left; }




/* **************************************************** */


/* Show Cart */
div#show_cart{
	width: 100%;
}

div#show_cart > form > div#cart_header{
	width: 100%;
	clear: both;
}

div#show_cart > form > div#cart_header > div#cart_header_qty{
	width: 10%;
	font: normal normal bold 12px Arial, Helvetica, sans-serif;
	display: inline-block;
	float: left;
}

div#show_cart > form > div#cart_header > div#cart_header_name{
	width: 50%;
	font: normal normal bold 12px Arial, Helvetica, sans-serif;
	display: inline-block;
	float: left;
}

div#show_cart > form > div#cart_header > div#cart_header_price{
	width: 20%;
	font: normal normal bold 12px Arial, Helvetica, sans-serif;
	text-align: right;
	display: inline-block;
	float: left;
}

div#show_cart > form > div#cart_header > div#cart_header_subtotal{
	width: 20%;
	font: normal normal bold 12px Arial, Helvetica, sans-serif;
	text-align: right;
	display: inline-block;
	float: left;
}

div#show_cart > form > div.cart_items{
	width: 100%;
	clear: both;
	padding: 0;
	margin: 5px 0px 5px 0px;
}

div#show_cart > form > div.cart_items > div.cart_item_qty{
	width: 10%;
	font: normal normal normal 12px Arial, Helvetica, sans-serif;
	display: inline-block;
	float: left;
}

div#show_cart > form > div.cart_items > div.cart_item_qty > input{
	width: 50%;
}

div#show_cart > form > div.cart_items > div.cart_item_name{
	width: 50%;
	font: normal normal normal 12px Arial, Helvetica, sans-serif;
	display: inline-block;
	float: left;
}

div#show_cart > form > div.cart_items > div.cart_item_name > div.cart_item_name_options{
}

div#show_cart > form > div.cart_items > div.cart_item_name > div.cart_item_name_options > ul.options_list{
	list-style: none;
	padding: 0;
	margin: 0;
	clear: both;
}

div#show_cart > form > div.cart_items > div.cart_item_name > div.cart_item_name_options > ul.options_list > li.options_item{
	width: 100%;
	padding: 0;
	margin: 5px 0px 5px 0px;
	display: block;
	clear: both;
}

div#show_cart > form > div.cart_items > div.cart_item_name > div.cart_item_name_options > ul.options_list > li.options_item > div.options_item_name{
	font: normal normal bold 12px Arial, Helvetica, sans-serif;
	display: inline-block;
	float: left;
}

div#show_cart > form > div.cart_items > div.cart_item_name > div.cart_item_name_options > ul.options_list > li.options_item > div.options_item_value{
	font: normal normal normal 12px Arial, Helvetica, sans-serif;
	display: inline-block;
	float: left;
}

div#show_cart > form > div.cart_items > div.cart_item_price{
	width: 20%;
	font: normal normal normal 12px Arial, Helvetica, sans-serif;
	text-align: right;
	display: inline-block;
	float: left;
}

div#show_cart > form > div.cart_items > div.cart_item_subtotal{
	width: 20%;
	font: normal normal normal 12px Arial, Helvetica, sans-serif;
	text-align: right;
	display: inline-block;
	float: left;
}

div#show_cart > form > div#cart_footer{
	width: 100%;
	clear: both;
}

div#show_cart > form > div#cart_footer > div#cart_footer{
	width: 10%;
	display: inline-block;
	float: left;
}

div#show_cart > form > div#cart_footer > div#cart_footer_{
	width: 50%;
	display: inline-block;
	float: left;
}

div#show_cart > form > div#cart_footer > div#cart_footer_label_total{
	width: 20%;
	font: normal normal normal 12px Arial, Helvetica, sans-serif;
	text-align: right;
	display: inline-block;
	float: left;
}

div#show_cart > form > div#cart_footer > div#cart_footer_text_total{
	width: 20%;
	font: normal normal normal 12px Arial, Helvetica, sans-serif;
	text-align: right;
	display: inline-block;
	float: left;
}

div#show_cart div#cart_controls_update{
	display: inline-block;
	float: left;
	width: 50%;
	text-align: right;
}

div#show_cart div#cart_controls_update > #cart_control_update{
	display: inline-block;
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
	padding: 1px 0 1px 25px; background: url(../img/icons/arrow-circle-double.png) no-repeat 0px 50%;
}

div#show_cart div#cart_controls_checkout{
	display: inline-block;
	float: left;
	width: 50%;
	text-align: right;
}

div#show_cart div#cart_controls_checkout > form > #cart_control_checkout{
	display: inline-block;
	float: left;
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
	padding: 1px 0 1px 25px; background: url(../img/icons/shopping-basket--arrow.png) no-repeat 0px 50%;
}

div#show_cart div#cart_controls_checkout > form > #cart_control_paypal{
	display: inline-block;
	float: left;
	border: 0;
	margin: 0px 5px 0px 0px;
	padding: 0;
}

div#widget_cart_controls #widget_button_details{
	display: inline-block;
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
	padding: 1px 0 1px 25px; background: url(../img/icons/shopping-basket--arrow.png) no-repeat 0px 50%;
}

div#widget_cart_controls #widget_button_update{
	display: inline-block;
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
	padding: 1px 0 1px 25px; background: url(../img/icons/arrow-circle-double.png) no-repeat 0px 50%;
}